# --- Core da Aplicação ---
fastapi
uvicorn
streamlit
scikit-learn
pandas
joblib
xgboost

# --- Bibliotecas de Suporte e Visualização para o Streamlit ---
altair
matplotlib
seaborn
pydeck

# --- Dependências da API e do App ---
pydantic
requests
numpy